{% extends "base.html" %}
{% block content %}
<div class="home-container">
    <aside class="sidebar">
        {% include 'sidebar.html' %}
    </aside>
    <main class="main-content">
        <h1 class="cim">Profil szerkesztése</h1>

        <form method="POST" style="width: 40%">
            <label>Keresztnév:</label>
            <input type="text" name="first_name" value="{{ user.first_name }}" required>

            <label>Vezetéknév:</label>
            <input type="text" name="last_name" value="{{ user.last_name }}" required>

            <label>Telefon:</label>
            <input type="text" name="phone_number" value="{{ user.phone_number }}" required>

            <label>E-mail:</label>
            <input type="email" name="email" value="{{ user.email }}" required>

            <div class="edit-buttons">
                <button type="submit" class="btn margin20">Mentés</button>
                <a href="{{ url_for('profile.profile') }}" class="btn">Mégse</a>
            </div>
        </form>
    </main>
</div>
{% endblock %}
