{% extends "base.html" %}
{% block content %}
<div class="container mt-5" style="max-width: 400px; height: 50%">
    <div class="card shadow-sm">
        <div class="card-body">
            <h3 class="card-title text-center mb-4">Login</h3>

            {% if message %}
                <div class="alert alert-warning">{{ message }}</div>
            {% endif %}

            <form method="POST">
                <div class="mb-3">
                    <label for="email" class="form-label"><i class="bi bi-envelope-fill"></i> Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" required value="{{ email }}">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label"><i class="bi bi-lock-fill"></i> Password</label>
                    <input type="password" class="form-control" id="password" name="password" placeholder="Enter password" required>
                </div>

                <div class="d-grid mb-3">
                    <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-in-right"></i> Login</button>
                </div>
            </form>

            <div class="mt-2 text-center">
                <a href="{{ url_for('profile.forgot_password') }}"><i class="bi bi-key-fill"></i> Forgot Password?</a>
            </div>

            <hr>

            <div class="text-center">
                <p>Don't have an account? <a href="{{ url_for('register.register_choice') }}">Register</a></p>
                <br>
                <img src="{{ url_for('static', filename='images/logiai-standard-f.jpg') }}" alt="logiAI logo">
            </div>
        </div>
    </div>
</div>
{% endblock %}
